<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <header id="header">
            <div class="container">
                <div class="logo pull-left"></div>
                <nav class="navigation pull-right">
                    <ul>
                        <li>
                            <a href="" title="">Accueil</a>
                        </li>
                        <li>
                            <a href="" title="">Rechercher</a>
                        </li>
                        <li>
                            <a href="" title="">Autres</a>
                        </li>
                    </ul>
                </nav>

                <div class="clear"></div>

                <div class="research">
                    <h1 class="text-center">Où rêvez-vous d'aller ?</h1>
                    <form method="get" action="#">
                        <div class="pull-left">
                            <input type="text" name="">
                        </div>
                        <div class="pull-right">
                            <button type="submit">
                                GO
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </header>


        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
