@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import "node_modules/compass-mixins/lib/compass";
@import "bootstrap.scss";


$orange: #fd5032;




@import "homepage/style.scss";


body {
	font-family: 'Open Sans', sans-serif;
}

div.clear {
	clear:both;
} 

input, button {
	&:focus {
		outline: none;
	}
}