header {
	height: 500px;
	width: 100%;
	background-image: url(/images/header.jpg);
	background-size:cover;

	div.logo {
		background-image: url(/images/logo.png);
		width: 147px;
		height: 33px;
		margin-top: 50px;
	}

	nav {
		&.navigation {
			margin-top: 50px;
			ul {
				li {
					float: left;
					margin-right: 25px;
					list-style-type: none;
					&:last-child {
						margin-right: 0px;
					}
					a {
						color: #fff;
					}
				}
			}
		}
	}

	div.research {
		margin-top: 75px;
		h1 {
			color: #fff;
			@include adjust-font-size-to(46px);
			text-transform: uppercase;
			font-weight: 300;
		}

		form {
			max-width: 600px;
			width: 100%;
			margin: 50px auto;

			input {
				background: #fff;
				border:none;
				padding: 15px;
				width: 460px;
			}
			button {
				background: $orange;
				width: 140px;
				padding:15px;
				color:#fff;
				text-align: center;
				border:none;
				&:hover {
					background: darken($orange, 10%);
				}
			}
		}

	}

}